body {
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
  width: 500px;
  background-color: azure;
}

fieldset {
  border: 0;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  width: 50%;
  display: block;
}

div,
fieldset {
  margin-top: 20px;
}

p {
  margin-top: 10px;
  padding: 20px;
  visibility: hidden;
}

button{
  background-color: turquoise;
  margin: 5px;
}